
<div class="item-container">
    <div class="item-image" style="background-image: url({{img}});"></div>
    <p class="item-name">{{name}}</p>

    <div class="item-description">
        <p class="item-info">Процессор: {{processor}}</p>
        <p class="item-info">Обьем памяти: {{storage}}</p>
    </div>

    <button class="item-button">
        <p class="item-info" style="color: #090808;">Купить {{price}}</p>
    </button>
</div>